#wpfooter #footer-upgrade,
#wpfooter #footer-left {
  float: none;
  display: inline-block;
}

#wpfooter #footer-upgrade {
  margin-left: 10px;
}

.fancy-lifesaver__widget {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 200;
  padding: 15px;
  cursor: pointer;
}

.fancy-lifesaver__widget img {
  width: 40px;
  height: auto;
  transition: all 0.2s ease-in;
}

.fancy-lifesaver__widget:hover img {
  width: 60px;
}

.fancy-lifesaver__widget-label {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -105px;
  background: #000;
  color: #fff;
  padding: 3px 8px;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  display: none;
  transition: all 0.2 ease-in;
}

.fancy-lifesaver__widget-label:after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translate(0, -50%);
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #000000;
}

.fancy-lifesaver__widget:hover .fancy-lifesaver__widget-label {
  display: block;
}

.fancy-lifesaver__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999999;
  transition: opacity 0.2s ease-in;
}

.fancy-lifesaver__modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.fancy-lifesaver__modal-header {
  padding: 20px;
  font-weight: 600;
  padding: 23px;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.fancy-lifesaver__modal-header img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.fancy-lifesaver__modal-header img,
.fancy-lifesaver__modal-header-text {
  vertical-align: middle;
}

.fancy-lifesaver__modal-close {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
  background: none;
  border: none;
  padding: 5px;
  font-size: 22px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.fancy-lifesaver__modal-close:hover {
  color: #DB2792;
}

.fancy-lifesaver__modal-content {
  padding: 20px;
}

.fancy-lifesaver__modal-field {
  margin-bottom: 20px;
}

.fancy-lifesaver__modal-field.required label:after {
  content: '*';
  margin-left: 3px;
  color: #e30;
  font-weight: 900;
}

.fancy-lifesaver__modal-label {
  display: block;
  margin-bottom: 3px;
}

.fancy-lifesaver__modal-input,
.fancy-lifesaver__modal-textarea {
  width: 100%;
  border-radius: 0 !important;
  border: 1px solid #9d9fa2 !important;
  padding: 5px 10px !important;
}

.fancy-lifesaver__modal-input-checkbox {
  border-radius: 0 !important;
}

.fancy-lifesaver__modal-submit {
  background: #2BBEB3;
  border: none;
  padding: 7px 30px 7px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.fancy-lifesaver__modal-submit:hover {
  background: #FEBF27;
}

.fancy-lifesaver__modal-icons .dashicons {
  line-height: 21px;
}

.fancy-lifesaver__modal-icons .dashicons-image-rotate {
  display: none;
  font-size: 14px;
  width: 20px;
  height: 20px;
  position: relative;
  animation: fancy-rotation 2s infinite linear;
}

.fancy-lifesaver__modal-icons .dashicons-image-rotate:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fancy-rotation {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.fancy-lifesaver__modal-submit.fancy-lifesaver__modal-submit--sending .dashicons-yes {
  display: none;
}

.fancy-lifesaver__modal-submit.fancy-lifesaver__modal-submit--sending .dashicons-image-rotate {
  display: inline-block;
}

.fancy-lifesaver-notice {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  padding: 23px 63px 23px 63px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  background: #fff url('/wp-content/plugins/fancy-lifesaver/assets/svg/fancy-cube.svg') no-repeat left 20px center;
}

.fancy-lifesaver-notice.fancy-lifesaver-notice--error {
  background-color: #ff7a7a;
}

.fancy-lifesaver-notice .dismiss {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}

.fancy-lifesaver-notice .dismiss:before {
  content: "\f335";
  font-family: dashicons;
  line-height: 30px;
  font-weight: 400;
  font-size: 22px;
  transition: all 0.1s ease-in;
}

.fancy-lifesaver-notice:hover .dismiss {
  color: #DB2792;
}
