/*
 * MODAL
 */
.fancy-ls{
  font-size: 13px;
  line-height: 22px;
}

.fancy-ls.fancy-lifesaver__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999999;
  transition: opacity 0.2s ease-in;
}

@media only screen and (max-height: 640px) {
  .fancy-ls.fancy-lifesaver__modal {
    overflow-y: scroll;
  }
}

.fancy-ls .fancy-lifesaver__modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  max-width: 700px;
  min-height: 500px;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

@media only screen and (max-height: 640px) {
  .fancy-ls .fancy-lifesaver__modal-wrap {
    position: relative;
    transform: none;
    top: 0;
    left: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.fancy-ls .fancy-lifesaver__modal-header {
  padding: 20px;
  font-weight: 600;
  padding: 23px 50px 23px 23px;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.fancy-ls .fancy-lifesaver__modal-header img {
  width: 20px;
  height: auto;
  margin-right: 8px;
  display: inline;
}

.fancy-ls .fancy-lifesaver__modal-header img,
.fancy-ls .fancy-lifesaver__modal-header-text {
  vertical-align: middle;
}

.fancy-ls .fancy-lifesaver__modal-close {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
  background: none;
  border: none;
  padding: 5px;
  font-size: 22px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  width: auto;
  height: auto;
}

.fancy-ls .fancy-lifesaver__modal-close:hover {
  color: #DB2792;
}

.fancy-ls .fancy-lifesaver__modal-content {
  padding: 20px;
}

.fancy-ls .fancy-lifesaver__modal-field {
  margin-bottom: 20px;
}

.fancy-ls .fancy-lifesaver__modal-field.required label:after {
  content: '*';
  margin-left: 3px;
  color: #e30;
  font-weight: 900;
}

.fancy-ls .fancy-lifesaver__modal-label {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
}

.fancy-ls .fancy-lifesaver__modal-input,
.fancy-ls .fancy-lifesaver__modal-textarea {
  width: 100%;
  border-radius: 0 !important;
  border: 1px solid #9d9fa2 !important;
  padding: 5px 10px !important;
  line-height: 30px;
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {

  .fancy-ls .fancy-lifesaver__modal-input,
  .fancy-ls .fancy-lifesaver__modal-textarea {
    padding: 2px 5px !important;
  }
}

.fancy-ls .fancy-lifesaver__modal-textarea {
  height: 80px;
}

.fancy-ls .fancy-lifesaver__modal-input-checkbox {
  border-radius: 0 !important;
}

.fancy-ls .fancy-lifesaver__modal-label-checkbox {
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  .fancy-ls .fancy-lifesaver__modal-input-checkbox {
    border-radius: 0 !important;
  }
}

.fancy-ls .fancy-lifesaver__modal-submit {
  background: #2BBEB3;
  border: none;
  padding: 7px 30px 7px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-transform: none;
}

.fancy-ls .fancy-lifesaver__modal-submit:hover {
  background: #FEBF27;
  text-decoration: none;
}

.fancy-ls .fancy-lifesaver__modal-icons .dashicons {
  line-height: 21px;
}

.fancy-ls .fancy-lifesaver__modal-icons .dashicons-image-rotate {
  display: none;
  font-size: 14px;
  width: 20px;
  height: 20px;
  position: relative;
  animation: fancy-rotation 2s infinite linear;
}

.fancy-ls .fancy-lifesaver__modal-icons .dashicons-image-rotate:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fancy-rotation {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.fancy-ls .fancy-lifesaver__modal-submit.fancy-lifesaver__modal-submit--sending .dashicons-yes {
  display: none;
}

.fancy-ls .fancy-lifesaver__modal-submit.fancy-lifesaver__modal-submit--sending .dashicons-image-rotate {
  display: inline-block;
}

.fancy-lifesaver__thumb {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0 5px 5px 0;
}

/*
 * NOTICE
 */
.fancy-ls.fancy-lifesaver-notice {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  max-width: 700px;
  padding: 23px 55px 23px 55px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  background: #fff url('/wp-content/plugins/fancy-lifesaver/assets/svg/fancy-cube.svg') no-repeat left 20px center;
}

.fancy-ls.fancy-lifesaver-notice.fancy-lifesaver-notice--error {
  background-color: #ff7a7a;
}

.fancy-ls.fancy-lifesaver-notice .dismiss {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}

.fancy-ls.fancy-lifesaver-notice .dismiss:before {
  content: "\f335";
  font-family: dashicons;
  line-height: 30px;
  font-weight: 400;
  font-size: 22px;
  transition: all 0.1s ease-in;
}

.fancy-ls.fancy-lifesaver-notice:hover .dismiss {
  color: #DB2792;
}

/*
 * ADMIN BAR
 */
#wp-admin-bar-fancy-lifesaver-help-button {
  display: block !important;
}
